*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 80%;
    min-height: 100px;
    border: 1px solid black;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 60px 300px 300px 60px;
    grid-template-areas: "header header"
                        "slider1 con1"
                         "slider2 con2"
                          "footer footer";
}
.header{
    background-color: blue;
    color: white;
    grid-area: header;
    
}
.slider1{
    background-color: aqua;
    color: white;
    grid-area:slider1;
    width: 200px;
}
.slider2{
    background-color: blueviolet;
    color: white;
    grid-area:slider2;
    width: 200px;
}
.con1{
    background-color:sienna;
    color: white;
    grid-area:con1;
    width: 765px;
}
.con2{
 background-color: cadetblue;
 color: white;
 grid-area:con2;
}
.footer{
    background-color: blue;
    color: white;
    grid-area:footer;
}

    
